@import '../../App.scss';

.menu-bar-list {
    list-style-type: none;
    padding: 0px;
    font-family: 'Circular Std', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.77px;
    color: $inactive-color;
    .menu-link {
        text-decoration: none;
        color: $inactive-color;
        .active-menu {
            color: $bs-black;
        }
        &:hover {
            cursor: pointer;
            color: $bs-black;
        }
    }
    .menu-underline {
        background-color: $inactive-color;
        height: 2px;
    }
    .active-line {
        background-color: $active-color;
    }
}