:root {
    --inactive-color: #6F7177
}
.menu-bar-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.menu-link {
    text-decoration: none;
    color: var(--inactive-color);
}