@import './styles/fonts.scss';

body {
    font-family: 'Circular Std', sans-serif;
}

$inactive-color: #6F7177;
$active-color: #4B40EE;
$bs-black: #1A243A;
$bs-white: #FFF;
$stock-increase: #67BF6B;
$stock-decrease: red;
$currency-color: #BDBEBF;